.col-2-fluid-navigation
  header
    
  .fluid-wrapper
    .container-fluid.content
      .row
        .col-md-2
          navigation

        .col-md-{{cols.left}}.left
          {{left}}

        .col-md-{{cols.right}}.right
          {{right}}

  footer
