.col-3-fluid-with-banner
  header
    .logo myApp
    .right.link Articles
    
  .fluid-wrapper
    .container-fluid.banner
      .row
        {{banner}}
        
  .fluid-wrapper
    .container-fluid.content
      .row
        .col-md-{{cols.left}}.left
          {{left}}

        .col-md-{{cols.middle}}.middle
          {{middle}}

        .col-md-{{cols.right}}.right
          {{right}}

  footer
